
html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
}

#nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#nav h3{
    margin: 15px 15px 0px 15px;
}
#vw_hs{
    color: blueviolet;
}
#vw_hs:hover{
    color: purple;
    cursor: pointer;
}
main {
    height: fit-content;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0 0 0;
    padding: 0;
}
  
#start{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#start p{
    text-align: center;
}
#quiz{
    width: 50%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
#quiz h2{
    align-self: left;
}
#quiz button{
    width: fit-content;
    align-self: left;
}
#quiz hr{
    margin-top: 15px;
    display:block;
}
#quiz #state{
    color: grey;
}
#quiz button{
    margin-bottom: 15px;
}
#user{
    min-width: 450px;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
}

#initials{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 5px;
}
#initials p{
    margin: 0;
}
#highscore{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: self-start;
}
#highscore  ul{
    width: 100%;
    list-style:none;
    padding-inline-start: 0;
}
#highscore  ul li{
    margin: 2px;
    background-color: pink;
}
#highscore #isClear{
    width: 100%;
}
#highscore hr {
    width: 100%;
    margin-top: 15px;
    display:block;

}

button{
    width: fit-content;
    color: antiquewhite;
    background-color: blueviolet;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;   
}
button:hover{
    background-color: purple;
}